<div class="container">
    <!-- <input type="text" [(ngModel)]='apptitle'><br>
    {{apptitle | titleCase} -->

    <!-- <posts></posts> -->

    <navbar></navbar>
    <router-outlet></router-outlet>
    <!-- <favorite [isFavorite]="isFavorite" (favoriteChanged)="isFavoriteChanged($event)" (newFavChanged)="isNewFavoriteChanged($event)"></favorite>


    <bootstrap-panel>
        <div class="header">This is Header</div>
        <div class="body">This is Body</div>
    </bootstrap-panel>

    <like
        [likesCount]="tweet.likesCount"
        [isActive]="tweet.isLiked"
    ></like>

    <contact-form></contact-form>

    <course></course> -->
</div>